.table-responsive {
  text-align: center;
  white-space: nowrap; /* Prevent line breaks in the container */
  overflow: hidden; /* Hide any content that overflows */
}

.button-container {
  margin-top: 20px;
}

.block {
  display: inline-block;
  width: 80%; /* Adjust the width as needed */
  margin: 0;
  border: none;
  background-color: #04AA6D;
  color: #fff;
  padding: 16px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; /* Prevent line breaks inside buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.block:hover {
  background-color: #027353;
}

/* Style the second button differently for visual distinction */
.block.generate-plan {
  background-color: #3185FC;
}

.block.generate-plan:hover {
  background-color: #1F5BB7;
}
