<app-page-header
  [link]="'etudiant'"
  [prev]="'Course'"
  [current]="'affect course'"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="affect(form)">
            Major
            <select class="form-control" (change)="fetchClass(filiereSelect.value)" #filiereSelect>
              <option value="" disabled selected>Select a major</option>
              <option *ngFor="let filiere of filieres" [value]="filiere.id">{{ filiere.libelle }}</option>
            </select>
            Grade (Classe)
            <select class="form-control select" formControlName="classe" #classeSelect
                    (change)="loadModulles(classeSelect.value);getGroupesByClasse(classeSelect.value)">
              <option value="" disabled selected>Choose a grade</option>
              <option *ngFor="let classe of Classes" [value]="classe.id">{{ classe.libelle }}</option>
              <!-- Add more class options as needed -->
            </select>
            modules:
            <select class="form-control select" [(ngModel)]="form.value.module" name="module">
              <option value="" disabled selected>Choose a module</option>
              <option *ngFor="let module of modulles" [ngValue]="module">{{ module.libelle }}</option>
            </select>

            teacher:
            <select class="form-control select" [(ngModel)]="form.value.prof" name="prof">
              <option value="" disabled selected>Choose a proffessor</option>
              <option *ngFor="let prof of profs" [ngValue]="prof">{{ prof.nom  }} {{prof.prenom}}</option>
              <!-- Add more class options as needed -->
            </select>
            group:
            <select class="form-control select" [(ngModel)]="form.value.groupe" name="groupe">
              <option value="" disabled selected>Choose a group</option>
              <option *ngFor="let groupe of groupes" [ngValue]="groupe">{{ groupe.libelle}}</option>
              <!-- Add more class options as needed -->
            </select>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
